* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: rgba(1, 0, 0, 0.95);
}

.container {
    width: 90%;
    padding: auto 20px;
    display: flex;
    align-items: center;
}

.slider {
    cursor: pointer;
    height: 70vh;
    border-radius: 20px;
    margin: 10px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    transition: 0.3s ease;
}

.active {
    flex: 10;
    transform: scale(1.1);
    box-shadow: 1px 1px 20px black;
}